---
relay_nickname: "your_relay_nickname"
relay_ipv4_address: "your_relay_ipv4_address"
relay_ipv6_address: "your_relay_ipv6_address"
relay_family_members: "family_member_1, family_member_2"
relay_oport: "your_relay_oport"
relay_oport_node2: "your_relay_oport_node2"
