---
tor_relay_nickname: "your_relay_nickname"
tor_relay_contact_info: "your_relay_contact_info"
tor_relay_ipv4_address: "your_relay_ipv4_address"
tor_relay_ipv6_address: "your_relay_ipv6_address"
tor_relay_family_members: "family_member_1, family_member_2"
tor_relay_oport: "your_relay_oport"
tor_relay_oport_node2: "your_relay_oport_node2"
