# code: language=ansible
---
- name: Pull cloudflared image
  ansible.builtin.command:
    cmd: docker pull cloudflare/cloudflared
  changed_when: false

- name: Import Cloudflare Tunnel Token
  ansible.builtin.include_vars:
    file: '{{ playbook_dir }}/secrets.yml.vault'

- name: Generate Docker Compose File
  ansible.builtin.template:
    src: '{{ role_path }}/templates/cloudflared.yml.j2'
    dest: /home/{{ ansible_user }}/cloudflared.yml
    mode: '0644'
  vars:
    cf_tunnel_token: '{{ tunnel_token }}'

- name: Start Cloudflare Tunnel
  ansible.builtin.command:
    cmd: docker compose -f /home/{{ ansible_user }}/cloudflared.yml up -d
  changed_when: false
