version: '3.8'

services:
  minio:
    restart: unless-stopped
    image: quay.io/minio/minio
    ports:
      - target: 9000  # Target port inside the container
        published: 9000  # Published port on the host
      - target: 9090  # Target port inside the container
        published: 9090  # Published port on the host
    environment:
      MINIO_ROOT_USER: '{{ minio_root_user }}'
      MINIO_ROOT_PASSWORD: '{{ minio_root_password }}'
    volumes:
      - type: volume
        source: nfs
        target: '/data'
    command: server /data --console-address ":9090"

volumes:
  nfs:
    driver: local
    driver_opts:
      type: nfs
      o: 'addr={{ nfs_address }},vers=4,rw'
      device: '{{ nfs_path }}'
