[Unit]
Description=Tor relay service 1
After=multi-user.target
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=forking
Environment="opt=-f /etc/tor/node2/torrc1"
ExecStart=/usr/bin/tor $opt
ExecStop=/usr/bin/kill -2 $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target
