version: '3.8'
services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cf_tunnel
    restart: unless-stopped
    network_mode: host
    environment:
      TUNNEL_TOKEN: '{{cf_tunnel_token}'
    command: tunnel run
