---
minio_root_user: "minio_rrot_user"
minio_root_password: "minio_root_password"
minio_nfs_address: "minio_nfs_address"
# the colon is defined in the docker-compose.yml, so don't add it here. Start with /
minio_nfs_path: "minio_nfs_path"